[run]
source = .
omit =
    test_*.py
    .venv/*
    __pycache__/*
    *.egg-info/*
    htmlcov/*
    .pytest_cache/*

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise AssertionError
    raise NotImplementedError
    if __name__ == .__main__.:
    if TYPE_CHECKING:
    @abstract
precision = 2

[html]
directory = htmlcov
